@import "../core/utils";
@import "../core/media";
@import "../mixins/list";

.hotkeys {
  height: 434px;
  padding: 40px 80px;
  width: 492px;
}

@media (--mobile) {
  .hotkeys {
    padding: 40px 0;
    width: 300px;
  }
}

.grid {
  @apply --clearfix;
  position: relative;
}

.grid_pad {
  border: 1px solid rgba(var(--white), 0.75);
  border-radius: 4px;
  color: rgba(var(--white), 0.75);
  float: left;
  height: 40px;
  line-height: 2.3;
  margin: 1.5%;
  width: 22%;
}

.quarter {
  float: left;
  width: 25%;
}
