@import "../core/variables";
@import "../core/utils";
@import "../mixins/fade";

.modal {
  @apply --vcenterer;
  @apply --fill;
  @apply --fade;
}

.modal_bg {
  @apply --fill;

  background: rgba(0, 0, 0, .6);
}

.content {
  @apply --vcenteree;

  background: rgba(0, 0, 0, .6);
  border: 1px solid rgba(var(--white), 1);
  border-radius: 10px;
  overflow: hidden;
}

.close {
  @apply --button-reset;
  @apply --ui;

  color: var(--blue);
  position: absolute;
  right: 20px;
  top: 20px;
}
