/*
  mute-button
*/
@import "../../styles/core/variables";
@import "../../styles/core/utils";
@import "../../styles/mixins/bounce";
@import "../../styles/components/button";

.mute_btn {
  @apply --button;

  background: var(--green);
  clip-path: polygon(0 26%, 35% 26%, 100% 0%, 100% 100%, 35% 74%, 0 74%);
  height: 50px;
  margin: 10px;
  position: relative;
  transition: all .5s var(--ease-out);
  width: 29px;

  &:hover {
    @apply --bounce;
  }

  &:before {
    background: var(--dblue);
    clip-path: polygon(0 26%, 35% 26%, 100% 0%, 100% 100%, 35% 74%, 0 74%);
    content: '';
    display: block;
    height: 34px;
    left: 3px;
    position: absolute;
    top: 8px;
    transition: all .25s var(--ease-out);
    width: 23px;
  }

  &.is_muted {
    background: var(--gray);
  }
}

.play_btn:hover {
  @apply --bounce;
}
