/*
  presets
*/
@import "../../styles/core/variables";
@import "../../styles/mixins/list";
@import "../../styles/mixins/link";
@import "../../styles/mixins/center_screen";

.del {
  color: var(--red);
}

.full_height {
  height: 100%;
  position: relative;
}

.vcenter {
  @apply --vcenterer;
}

.vcenteree {
  @apply --vcenteree;
}
