/*
  drum-pad-screen
*/
@import "../../styles/core/variables";
@import "../../styles/core/media";
@import "../../styles/core/utils";

.screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

:root {
  --drum-pad-screen-wh: 480px;
}

.body {
  align-items: center;
  display: flex;
  flex: 2;
  justify-content: space-around;
  position: relative;

  /*place dummy 3rd column here
  so that flexbox can center everything
  width should match left column (loops.css)*/
  &:after {
    content: '';
    display: block;
    width: var(--sidebar-width);
  }
}

@media (--mobile) {
  .body:after {
    display: none;
  }
}

.group {
  @apply --clearfix;

  height: var(--drum-pad-screen-wh);
  width: var(--drum-pad-screen-wh);
}
