/*
  bpm-input
*/
@import "../../styles/core/variables";

.bpm {
  align-items: center;
  border: 1px solid var(--orange);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: -85px;
  margin-right: 20px;
  padding: 5px 20px 5px 5px;
}

.input,
.value,
.label {
  flex: auto;
  position: relative;
}

.input,
.value {
  font-size: 20px;
  width: 80px;
}

.value {
  padding: 8px 15px;
}

.input {
  padding: 3px 5px;
}

/* .label {} */
