/*
  modal
*/
@import "../../styles/core/variables";
@import "../../styles/core/utils";
@import "../../styles/mixins/fade";

.modal {
  @apply --vcenterer;
  @apply --fill;
  @apply --fade;
}

.modal_bg {
  @apply --fill;

  background: rgba(0, 0, 0, .6);
}

.content {
  @apply --vcenteree;

  background: rgba(0, 0, 0, .85);
  border: 1px solid rgba(var(--white), 1);
  border-radius: 10px;
  height: 1px;
  overflow: hidden;
  width: 1px;
}
.content * {
  opacity: 0;
}
.fade__in .content {
  height: 434px;
  width: 492px;
  transition: width .25s var(--ease-out), height .5s var(--ease-out) .25s;
}
.fade__in .content * {
  opacity: 1;
  transition: opacity .75s .5s;
}

.close {
  @apply --button-reset;
  @apply --ui;

  color: var(--blue);
  position: absolute;
  right: 20px;
  top: 20px;
}
