/*
  play-button
*/
@import "../../styles/core/variables";
@import "../../styles/core/utils";
@import "../../styles/mixins/bounce";
@import "../../styles/components/button";

.play_btn {
  @apply --button;

  background: var(--green);
  clip-path: polygon(0 0, 0% 100%, 100% 50%, 100% 49%);
  height: 70px;
  margin: 10px;
  position: relative;
  transition: all .5s var(--ease-out);
  width: 40px;

  &:before {
    background: var(--dblue);
    clip-path: polygon(0 0, 0% 100%, 100% 50%, 100% 49%);
    content: '';
    display: block;
    height: 56px;
    left: 3px;
    position: absolute;
    top: 7px;
    transition: all .5s var(--ease-out);
    width: 32px;
  }

  &.is_playing {
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0%);
  }
  &.is_playing:before {
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0%);
    height: 64px;
    top: 3px;
    width: 34px;
  }
}

.play_btn:hover {
  @apply --bounce;
}
