/*
  close-button
*/
@import "../../styles/core/variables";
@import "../../styles/mixins/bounce";
@import "../../styles/components/button";

.close_hover {
  @apply --button;

  &:hover {
    @apply --bounce;
  }
}

.close_button {
  height: 70px;
  position: relative;
  width: 70px;
  transform: rotate(45deg);

  &:before,
  &:after {
    background-color: var(--red);
    content: '';
    display: block;
    position: absolute;
  }

  &:before {
    height: 3px;
    left: 0;
    top: 34px;
    width: 100%;
  }

  &:after {
    height: 100%;
    left: 34px;
    top: 0;
    width: 3px;
  }
}
