
:root {
  --fade: {
    opacity: 0;
    transition: opacity .25s ease-out, visibility .25s ease-out;
    visibility: hidden;

    &.fade__in {
      opacity: 1;
      visibility: visible;
    }
  }
}

.fade {
  @apply --fade;
}
